<header>
    <h1>Hedgehog School</h1>
    <nav>
        <a href="/">Home</a>
        <a href="#courses">Articles</a>
        <a href="#about">Profil</a>
    </nav>
    <div>
        <button>Connexion</button>
        <button>Inscription</button>
    </div>
{#  {% $posts %} #}
</header>